body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --link-main-color: #2D2E46;
  --button-color: #21268F;
  --hover-border-button-color: #FFFFFF;
  --third-font-color: rgba(45, 46, 70, .5);
  --cancel-button-color: #D7D8EF;
}